
<section class="section-home" >
  <h1>Worlds' Inn</h1>
</section>
<section class="section-two" id="progetto">
  <h1>Benvenuto a World’s Inn, la locanda al centro di Yggdrasill !</h1>

  <p>Qui cerchiamo di far incontrare i giocatori e le varie ambientazioni GDR, che tu venga da un verdeggiante mondo Fantasy, da un anarchico universo Cyberpunk o da un tetro mondo post apocalittico questo è il posto giusto per te, incontrati con i tuoi amici o fai nuove conoscenze e lanciati all’avventura!
    Ma se vuoi prenderti una pausa dalle avventure e fare una chiacchierata, rilassati pure e prendi qualcosa da bere. Occhio alle tue tasche però, ai Goblin piace rovistare nelle cose altrui.
    Buon divertimento!
  </p>
</section>   
<section class="section-two" id="progetto">
  <h1>La locanda</h1>

  <p>Appena entri nella laconda, un dolce tepore ti riscalda, guardandoti attorno vedi aria di festa. Maghi che fanno piccoli trucchetti, bari seduti attorno a un tavolo con un mazzo di carte, ladri che scraffignano qualche oggetto a persone distratte, guerrieri appena tornati da un'avventura e che sorseggiano una bella birra. Vedi anche robot e mostri che non avevi mai visto banchettare tranquillamente.
    Vicino all'entrata vi è un piccolo cestello delle offerte, dal quale esce una canzone orecchiabile che ti invita a fare una piccola <a href="" target="_blank" rel="noopener noreferrer"> donazione </a> per sostenere la lanterna.
  </p>
</section> 

<section class="section-two team-section" id="collaborazioni">
  <h1>Collaborazioni</h1>

  <p>L'universo è molto vasto, pieno di luoghi ancora inesplorati. Qui troverai le nostre alleanze, uniamo le nostre forze, esploriamo insieme le terre inesplorate. <a href="#contatti">Unisciti</a>  a noi e diventa più forte.</p>
  <div class="container-coll">
    <div class="team-card">
      <div class="card">
        <div class="image-section">
          <img src="img/dietroloschermo.png" alt="Logo Dietro Lo Schermo">
        </div>
        <div class="content">
          <h3> <a href="https://dietroschermo.wordpress.com/" target="_blak">Dietro lo schermo</a> </h3>
          <p>Lo scopo di questo blog è fornire strumenti utili a qualunque <a href="https://dietroschermo.wordpress.com/conoscenza/glossario/diemme/" target="_blank"> Diemme</a> di <a href="https://dietroschermo.wordpress.com/conoscenza/glossario/dd/" target="_blank"> D&D </a> per imparare a costruire e gestire il proprio gioco.</p>
        </div>
      </div>
    </div>
  </div>
</section> 

<section class="faqs">
  <div class="container">
    <h1>F.A.Q.</h1>
    <div class="accordion">
      <div class="accordion-item faq">
        <h3> Ho un'associazione/attività legata ai gdr, come possiamo collaborare? <i class="fas fa-sort-down"></i> </h3>
        <div class="answer"> <p> Compila l'opportuno forum nella sezione <a href="#contatti" style="color: #44d800"> contatti </a> raccontandoci chi siete e cosa fate, vi contatteremo il prima possibile. </p></div>
      </div>
      <div class="accordion-item faq">
        <h3> Quali saranno i futuri sviluppi del progetto? <i class="fas fa-sort-down"></i></h3>
        <div class="answer"> <p>Gli sviluppi del progetto sono in continuo cambiamento, tieni d'occhio questo elenco per scoprire cosa succederà. <br> Attualmente abbiamo previsto di:
          <ul>
            <li>Permettere agli utenti di creare degli account con una sezione relativa alla ricerca di giocatori</li>
            <li>Sezione chat degli iscritti al sito per organizzarsi sulle sessioni</li>
            <li>Newsletter</li>
            <li>Collaborazioni con associazioni che organizzano eventi a tema GDR</li>
            <li>Uno shop per vendere materiale homebrew</li>
          </ul>
        </p></div>
      </div>
      <div class="accordion-item faq">
        <h3> La registrazione e l'accesso al mio account sono sicuri?  <i class="fas fa-sort-down"></i></h3>
        <div class="answer"> <p> Si, la password e cryptata nel database, neanche gli amministratori sanno quale sia. </p></div>
      </div>
      <div class="accordion-item faq">
        <h3> E' obbligatorio avere un account Telegram? A cosa serve? <i class="fas fa-sort-down"></i></h3>
        <div class="answer"> <p> Essendo un progetto amatoriale, per ridurre i costi al minimo, ci basiamo su Telegram per la condivisione del materiale e per contattare master o giocatori (questo però nei prossimi sviluppi del progetto) </p></div>
      </div>
      <!--<div class="accordion-item faq">
        <h3>  L'usurname di Telegram corrisponde al nome utente di Telgram? <i class="fas fa-sort-down"></i></h3>
        <div class="answer"> <p> No, nome utente e usurname di Telegram sono due cose differenti. Nelle impostazioni di Telegram, nella sezione relativa all\'account potrete impostarne uno. </p></div>
      </div>-->
    </div>
  </div>
</section>

<section class="contattaci section-two" id="contatti">
  <div class="container">
    <h1>Contattaci</h1>
      <form action="" class="bg-white rounded px-8 pt-6 pb-8 mb-4" >
        <div class="formWord">
          <span class="block text-sm font-bol mb-2">Nome e Cognome</span>
          <input id="name" name="name" type="text"  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-4" required>
          <br>
          <span class="block text-sm font-bol mb-2">Oggetto</span>
          <input id="oggetto" name="oggetto" type="text"  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-4" required>
          <br>
          <span class="block text-sm font-bol mb-2">Email</span>
          <input id="email" name="email" type="email"  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-4" required>
          <div class="formWord">
            <span>Message</span>
            <br>
            <textarea id="message" name="message" cols="30" rows="10" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-4" required></textarea>
            <input type="submit" value="Invia" class="submit-btn">
          </div>
        
        </div>
      </form>
  </div>

</section>


