$primary: #FE5F1E;
$primary-hover: #b23301;
$secondary:#F8F8F8;
$pure: #fff;
$dark: #232323;
$gray: #ccc;
$nav_color: #232528;
$nav_second: #363636;
$nav_third: #525151;
$nav_item:#44d800;
$nav_item_hover: rgb(0, 109, 58);
$nav_item_shadow: #44d800;
$footer: #e7fff9;
$box_coll-bg: #e0e0e0;
