<section class="section-two">
    <h1><%=  user.name   %> <%=  user.usurname   %></h1>

    <p>Questa è la sezione relativa al tuo profilo. Potrai modificare i tuoi dati utente e aggiungere i dati all'interno della ricerca di giocatori. Buon divertimento.</p>
    <div class="form_container">
        <div class="title_form">Informazioni utente.</div>
       
    </div>
</section>