<section class="error404">
<img src="img/404.jpg" alt="404 error">
<p>Ciao avventuriero, mi sa tanto che ti sei perso. Il portale non ha funzionato, ritorna sui tuoi passi, esplora nuovi mondi, ma attento a non perderti.
</p>
</section>